# Xcode
build/
DerivedData/
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# Swift Package Manager
.build/
Packages/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# User-specific files
*.moved-aside
*.swp
*.DS_Store
*.idea/
*.vscode/

# Archives
*.xcarchive
*.ipa
*.dSYM.zip
*.dSYM

# Temporary or local config files
Secrets.xcconfig
